@page
@model NonProfitSiteV3.Pages.Forms.VolunteerApplicationForm.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VolunteerApplicants</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_father)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_father)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_education)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_education)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_religion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_religion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerApplicants.VA_address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerApplicants.VA_address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="VolunteerApplicants.VA_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
