@page
@model NonProfitSiteV3.Pages.Forms.VolunteerRequestForm.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div style="height: 90px;"></div>
<section class="short-intro" style="z-index: 10;">
    <h1>Details</h1>
</section>
<style>
    .short-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: #36454F;
    height: fit-content;
    }
    .short-intro h1 {
    color: lawngreen;
    width: 100%;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    }
</style>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerRequest.VLreq_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerRequest.VLreq_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerRequest.VLreq_father)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerRequest.VLreq_father)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerRequest.VLreq_contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerRequest.VLreq_contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerRequest.VLreq_email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerRequest.VLreq_email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerRequest.VLreq_address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerRequest.VLreq_address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerRequest.VLreq_occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerRequest.VLreq_occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerRequest.VLreq_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerRequest.VLreq_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerRequest.VLreq_quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerRequest.VLreq_quantity)
        </dd>
    </dl>
</div>

