@page
@model NonProfitSiteV3.Pages.UserDataHolder.UserDonationModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "User Donation History";
}

<div style="height: 100px;"></div>
<h1>@User.Identity?.Name 's Donation History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].Don_contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].Don_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].Don_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donation[0].Don_details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Donation) {
    @if(User.Identity?.Name == item.Don_email)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Don_contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Don_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Don_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Don_details)
            </td>
        </tr>
    }
    
}
    </tbody>
</table>
